* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins";
    font-weight: 300;
}

*::selection{
    background: #006241;
    color: #fff;
}

.header{
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.75) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__logo{
    width: 40px;
    margin: 10px;
}

.header__nav,
.header__conteiner-login{
    display: none;
}

.header__conteiner-user-mobile{
    color: #fff;
    font-size: 30px;
    margin: 10px;
}

.main__conteiner-logo{
    display: none;
}

.main{
    margin-top: 11rem;
    padding: 15px 15px 60px;
}

.main__title{
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 8px;
}

.main__title span{
    color: #006241;
    font-weight: 900;
}

.main__conteiner-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.main__description{
    font-weight: 900;
}

.gallery{
    background: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__img{
    width: 85%;
    margin-top: 32px;
}

.contac{
    background:#0c0c0c ;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contac__title{
    color: #006241;
    text-align: center;
    margin-bottom: 25px;
    font-size: 35px;
}

.contac__form{
    background: #006241;
    color: #fff;
    padding:15px;
    width: 280px;
}

.contac__input label{
    font-size: 14px;
}

.contac__input{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contac__input input::placeholder,
.contac__input textarea::placeholder{
    font-size: 12px;
    color: #006241;
    font-weight: 900;
}

.contac__input input,
.contac__input textarea{
    padding: 5px;
    border-radius: 7.5px;
    border: none;
}

.contac__input input:focus,
.contac__input textarea:focus{
    background: #0c0c0c;
    color:#fff;
}

.contac__btn{
    background: inherit;
    color: #fff;
    border: 1px solid #fff;
    width: 45%;
    margin-top: 20px;
    border-radius: 7.5px;
    padding: 4px 0;
    transition: all 0.5s;
}

.contac__btn:hover {
    background: yellow;
    border: 1px solid yellow;
    color: #006241;
}

.cards__card{
    background: #006241;
    margin-top: 45px;
    color: #fff;
    position: relative;
    width: 85%;
}

.cards{
    padding:20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__card-img{
    width: 100%;
}

.cards__card-title span{
    color: yellow;
}

.cards__card-container-text{
    padding: 25px 15px ;
}

.cards__card-description{
    font-size: 14px;
    margin: 7.5px 0 15px;
}

.cards__card-btn{
    background: inherit;
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    width: 120px;
    margin-top: 20px;
    border-radius: 7.5px;
    padding: 5px 30px;
    transition: all 0.5s;
    text-decoration: none;
    margin-bottom: 15px;
}

.cards__card-btn:hover {
    background: yellow;
    border: 1px solid yellow;
    color: #006241;
}

.cards__container-btn{
    display: flex;
    flex-direction: column;
}

.cards__container-btn a{
    width: 100%;
    text-align: center;
    margin: 2px;
}

.cards__card-circle{
    background: yellow;
    width: 65px;
    height: 65px;
    color: #0c0c0c;
    font-weight: 900;
    font-size: 18px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 50%;
    position:absolute;
    top: -25px;
    right: -25px;
}