* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins";
    font-weight: 300;
}

*::selection{
    background: #006241;
    color: #fff;
}

.header{
    background: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.75) ;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__logo{
    width: 40px;
    margin: 10px;
}

.header__nav,
.header__conteiner-login{
    display: none;
}

.header__conteiner-user-mobile{
    color: #fff;
    font-size: 30px;
    margin: 10px;
}

.main__conteiner-logo{
    display: none;
}

.main{
    margin-top: 11rem;
    padding: 15px 15px 60px;
}

.main__title{
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 8px;
}

.main__title span{
    color: #006241;
    font-weight: 900;
}

.main__conteiner-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.main__description{
    font-weight: 900;
}

.gallery{
    background: #006241;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__img{
    width: 85%;
    margin-top: 32px;
}